body{
  background: #fff !important;
}

.jumbotron{
  height: 83px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 15px;
  background:#222F44;
  color: #fff;
}

.jumbotron h1{
  font-size: 30px;
  /*color: #fff;*/
}

.row{
	width: 70%;
}
.content-head{
  margin:0 auto;
  width: 70%;
}

h1{
  font-size: 25px;
}

li{
  font-size: 16px;
  list-style: none;
}

li a{
  padding-left: 10px;
}

.panel{
  height: 100vh;
}

.body-header{
  padding-left: 55px;
}

.left-menu{
  float: left;
}

.left-menu li{
  list-style: none;
}

.right-menu li{
  list-style: none;
}

.panel-body{
  /*max-width: 70%;*/
  padding-left: 20px;
}

.panel-heading{
  margin: 0;
  background: #254159;
  color: #fff;
}


.panel-sub-heading{
  font-weight: bold;
  color: #1039cc;
  padding: 10px 20px;
}


.app-label{
  display: inline-block;
  width: 165px;
  margin:0;
}

.label-data{
  display: inline-block;
}

.content-body{
  float: right;
}

@media only screen and (max-width: 500px) {

  .row{
    margin:0 auto;
    min-width: 60%;
  }
}
