
  <section>
    <div class="container center">
      <div class="row">
        <div class="col-lg-6 middle">
          <div class="circle ">
            <a routerLink="/unassigned"><p>Unassigned Cases</p></a>
          </div>
          <div class="content">
            <p class="middle">Acesss Drug review cases here, that are submitted, but not yet assigned </p>
          </div>
        </div>

        <div class="col-lg-6 middle">
          <div class="circle circle-sm" >
            <a routerLink="/my-cases"><p>My Cases</p></a>
          </div>
          <div class="content">
            <p class="middle">Cases assigned to you.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--<div class="container center">-->
    <!--<div class="col-lg-6 middle">-->
      <!--<div class="button_slide slide_left">BUTTON: SLIDE INSIDE </div>-->
      <!--<div class="content">-->
        <!--<p class="middle">Acesss Drug review cases here, that are submitted, but not yet assigned </p>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
