<app-navbar></app-navbar>
<!--<div class="jumbotron jumbotron-fluid">-->
  <!--<div class="container">-->
    <!--<div class="center">-->
      <!--<h1 class="display-3">Comeback ...</h1>-->
      <!--<p class="lead">This is a sample app for demo. Check later for more.</p>-->
      <!--<button class=" btn btn-lg-block btn-warning">Learn more</button>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="img-container">
  <div class="img-responsive image-banner">
    <img src="../../../assets/images/lab.png" alt="lab">
    <div class="banner-description">
      <p>This is a brief description of the image.</p>
    </div>
  </div>
  <div class="img-responsive image-banner">
    <img src="../../../assets/images/mouse.jpg" alt="lab">
    <div class="banner-description">
      <p>This is a brief description of the image.</p>
    </div>
  </div>
  <div class="img-responsive image-banner">
    <img src="../../../assets/images/meeting.jpg" alt="lab">
    <div class="banner-description">
      <p>This is a brief description of the image.</p>
    </div>
  </div>
  <div class="img-responsive image-banner">
    <img src="../../../assets/images/pills.jpg" alt="lab">
    <div class="banner-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ducimus ex fuga fugiat nihil perferendis provident quaerat quidem veniam! Aliquam facilis numquam obcaecati sin</p>
    </div>
  </div>
</div>
<app-details></app-details>
