

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#" class="navbar-left"><img style="width:80px; padding: 10px 10px 0 0;" src="../../../assets/fda.png"></a>
        <!--<a class="navbar-brand" href="#">Project name</a>-->
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/home">Home</a></li>
          <li><a routerLink="/unassigned">Unasigned Cases</a></li>
          <li><a routerLink="/my-cases">MyCases</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a routerLink="user">User <span class="sr-only">(current)</span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
