<app-navbar></app-navbar>
<div class="wrapper">
  <div class="jumbotron" style="background: #1F2E46; color: #c9c9c9;">
    <h1 class="header">My Cases</h1>
  </div>
  <div class="container">
    <h3 class="table-header" style="margin-bottom:20px; padding:0;font-weight:300">Please check the cases here:</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="swim-container">
          <div class="table-responsive">
            <table class="table spacing-table" data-toggle="table">
              <thead>
              <tr>
                <th data-sortable="true">Case no.</th>
                <th data-sortable="true">Drug Name</th>
                <th data-sortable="true">Description</th>
                <th data-sortable="true">Category</th>
                <th data-sortable="true">Submitted By</th>
                <th data-sortable="true">Date Received</th>
                <th data-sortable="true">Date Assigned</th>
                <th data-sortable="true">Status</th>
              </tr>
              </thead>
              <tbody>
              <!--<tr>-->
                <!--<td>22311</td>-->
                <!--<td>Face to Face</td>-->
                <!--<td>10/12/2017</td>-->
                <!--<td>Add some description..</td>-->
                <!--<td class="td-actions text-right">-->
                  <!--<button type="button" rel="tooltip" aria-label="Add" title="Add"-->
                          <!--class="btn btn-table-lg btn-primary" >View more-->
                  <!--</button>-->
                <!--</td>-->
              <!--</tr>-->
              <tr>
                <td>223344556</td>
                <td>Binimetinib (MEK162)</td>
                <td>Drug for treating Melanoma cancer</td>
                <td> Cancer Drugs</td>
                <td>Array BioPharma</td>
                <td>10/22/2017</td>
                <td>10/23/2017</td>
                <td>Phase 1</td>
              </tr>
              <tr>
                <td>223344556</td>
                <td>Binimetinib (MEK162)</td>
                <td>Drug for treating Melanoma cancer</td>
                <td> Cancer Drugs</td>
                <td>Array BioPharma</td>
                <td>10/22/2017</td>
                <td>10/23/2017</td>
                <td>Phase 3</td>
              </tr>
              <tr>
                <td>223344556</td>
                <td>Binimetinib (MEK162)</td>
                <td>Drug for treating Melanoma cancer</td>
                <td> Cancer Drugs</td>
                <td>Array BioPharma</td>
                <td>10/22/2017</td>
                <td>10/23/2017</td>
                <td>Application reviewed</td>
              </tr>
              <tr>
                <td>223344556</td>
                <td>Binimetinib (MEK162)</td>
                <td>Drug for treating Melanoma cancer</td>
                <td> Cancer Drugs</td>
                <td>Array BioPharma</td>
                <td>10/22/2017</td>
                <td>10/23/2017</td>
                <td>Facility inspection</td>
              </tr>
              <tr>
                <td>223344556</td>
                <td>Binimetinib (MEK162)</td>
                <td>Drug for treating Melanoma cancer</td>
                <td> Cancer Drugs</td>
                <td>Array BioPharma</td>
                <td>10/22/2017</td>
                <td>10/23/2017</td>
                <td>Review meeting</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
